@using Microsoft.AspNetCore.Http;
@using PMS.Common;

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!--Thêm phân trang CSS-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css" />
    <!---->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/logo-NSMO-2025-icon-modified.png">
    <title>Hệ thống Quản lý lương</title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/assets/node_modules/morrisjs/morris.css" rel="stylesheet" />
    

    <!--Toaster Popup message CSS -->
    <link href="~/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="~/Content/css/pages/dashboard1.css" rel="stylesheet" />
    <link href="~/assets/node_modules/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />

    <link href="~/Content/css/MyStyle.css" rel="stylesheet" />

    <script src="~/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <link href="~/Content/css/pms-overrides.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Phân trang-->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script>
    <!--Phân trang-->

    @await RenderSectionAsync("Styles", required: false)

</head>

<body class="skin-green fixed-layout">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // displayToastr();
        });

        function displayToastr() {
            try {

                // Display a info toast, with no title
                toastr.info('Thông báo, Thêm mới dữ liệu thành công.')

                // Display a warning toast, with no title
                toastr.warning('Hi Mahedee, This the first warning for you!')

                // Display a success toast, with a title
                toastr.success('Yes! You have successfully completed your task!', 'Congratulation for you, Mahedee!')
            } catch (ex) {
                alert(ex.message);
            }

        }

    </script>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Đang lấy dữ liệu...</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/assets/images/logo-NSMO-2025-icon-modified.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="~/assets/images/logo-NSMO-2025-icon-modified.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="~/assets/images/Logo-NSMO-2025-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="~/assets/images/Logo-NSMO-2025-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item">
                            <form class="app-search d-none d-md-block d-lg-block">
                                <label style="color:white; font-size: 18px;">HỆ THỐNG QUẢN LÝ LƯƠNG - PMS</label>
                            </form>
                        </li>
                      
                        <form class="app-search d-none d-md-block d-lg-block">
                        @*<input type="text" class="form-control" placeholder="Tìm kiếm">*@
                        </form>
                        </li>*
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->

                        <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User Profile-->
                <div class="user-profile">
                    <div class="user-pro-body">
                        <div><img src="~/assets/images/users/2.jpg" alt="user-img" class="img-circle"></div>
                        <div class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @if (Context.Session.GetString(CommonConstants.UserName) != null)
                                {
                                    <span>@Context.Session.GetString(CommonConstants.UserName)</span>
                                }
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                @await Html.PartialAsync("LeftMenu")
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="padding-top:48px !important">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">@ViewBag.Title</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    @if (ViewBag.Point != "Index")

                                    {
                                        <i class="fa fa-dashboard"></i>
                                    }
                                    @* Home *@
                                    <a href="@Url.Action("Index","Home")">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-item active">@ViewBag.Breadcum</li>
                            </ol>
                            @if (ViewBag.Point == "Index")

                            {
                                <a class="btn btn-info d-none d-lg-block m-l-15" href="@ViewBag.LinkCreate">
                                    <i class="fa fa-plus-circle"></i>
                                    Tạo mới
                                </a>

                            }
                        </div>
                    </div>
                </div>
                @if (TempData["AlertMessage"] != null)


                {
                    <div>
                        @if (TempData["AlertType"].ToString() == "success")

                        {
                            <script type="text/javascript">
                                toastr.success('@TempData["AlertMessage"]' + '.')
                            </script>
                        }


                        else if (TempData["AlertType"].ToString() == "warning")
                        {
                            <script type="text/javascript">
                                toastr.warning('@TempData["AlertMessage"]' + '.')
                            </script>
                        }


                        else if (TempData["AlertType"].ToString().Trim() == "error")

                        {
                            <script type="text/javascript">
                                toastr.error('@TempData["AlertMessage"]' + '.')
                            </script>
                        }

                        else

                        {
                            <script type="text/javascript">
                                toastr.info('@TempData["AlertMessage"]' + '.')
                            </script>
                        }
                    </div>
                }
                @RenderBody()
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Chọn Giao diện <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme working">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            <div class="row">
                <div class="col-xs-6 col-lg-6">
                    <span style="font-weight:bold">Copyright © 2025 </span><a href="http://nsmo.com.vn">NSMO Company</a>
                </div>
                <div class="col-xs-6 col-lg-6 hidden-xs" style="float:left;">
                    <p align="left" style="margin-bottom:0px;">
                    </p>
                </div>
            </div>
          
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>


    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="~/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="~/assets/node_modules/morrisjs/morris.min.js"></script>
    <script src="~/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Popup message jquery -->
    <script src="~/assets/node_modules/toast-master/js/jquery.toast.js"></script>
    <!-- Chart JS -->
    <script src="~/Content/js/dashboard1.js"></script>
    <script src="~/assets/node_modules/toast-master/js/jquery.toast.js"></script>
    <!-- jQuery peity -->
    <script src="~/assets/node_modules/peity/jquery.peity.min.js"></script>
    <script src="~/assets/node_modules/peity/jquery.peity.init.js"></script>
    <script src="~/assets/node_modules/toast-master/js/jquery.toast.js"></script>
    <script src="~/Content/js/pages/toastr.js"></script>
    
    <script>
        $(document).ready(function() {

            // Hide preloader when page is loaded
            $(".preloader").fadeOut();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>
