@model PMS.Models.TblMenu

@{
    ViewData["Title"] = "Thêm mới chức năng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstMenu = (List<PMS.Models.TblMenu>)ViewBag.lstMenu;
}

@using (Html.BeginForm("Create", "TblMenus", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin chi tiết</h4>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="boldText">Tên chức năng:<code>*</code></div>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên chức năng" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="boldText">Chọn menu cha:<code>*</code></div>
                                <select id="cboMenu" name="cboMenu" class="form-control">
                                    <option value="-1">--Menu gốc--</option>
                                    @if(lstMenu != null && lstMenu.Count > 0)
                                    {
                                        foreach (var itemMenu in lstMenu)
                                        {
                                            <option value="@itemMenu.Id">@itemMenu.Name</option>
                                        }
                                    }                                  
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="boldText">Nhập đường dẫn chức năng:<code>*</code></div>
                                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập đường dẫn chức năng" } })
                                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="boldText">Chọn icon:<code>*</code></div>
                                <select id="cboIcon" name="cboIcon" class="form-control">
                                    <option value="ti-bar-chart-alt">Biểu đồ</option>
                                    <option value="icon-speedometer">Đồng hồ</option>
                                    <option value="fa fa-calendar-check-o">Lịch</option>
                                    <option value="fa fa-bolt">Tia sét</option>
                                    <option value="fa fa-legal">Cái búa</option>
                                    <option value="fa fa-question-circle">Câu hỏi</option>
                                    <option value="fa fa-money">Tờ tiền</option>
                                    <option value="fa fa-circle-o text-danger">Dấu tròn đỏ</option>
                                    <option value="fa fa-circle-o text-success">Dấu tròn xanh</option>
                                    <option value="fa fa-circle-o text-warning">Dấu tròn da cam</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="boldText">Nhập thứ tự:</div>
                                @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập thứ tự hiển thị" } })
                                @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <div class="boldText">Meta title:<code>*</code></div>
                                @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập MetaTitle" } })
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Ghi dữ liệu</button>
                    @Html.ActionLink("Quay lại", "Index")
                </div>
            </div>
        </div>
    </div>
}
