@model PMS.Models.TblPosition

@{
    ViewData["Title"] = "Thêm mới chức vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "TblPosition", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin chi tiết chức vụ</h4>
                    <h6 class="card-subtitle text-muted mb-3">
                        Lưu ý: <span class="text-danger">*</span> là các trường bắt buộc
                    </h6>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="boldText">Tên chức vụ:<code>*</code></div>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên chức vụ" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="boldText">Tên viết tắt:<code>*</code></div>
                                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên viết tắt" } })
                                @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="boldText">Loại đối tượng:<code>*</code></div>
                                <div>
                                    <label class="mr-4">
                                        @Html.RadioButtonFor(model => model.TypeObject, 1, new { @checked = "checked" }) Nhà quản lý
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.TypeObject, 2) Người lao động
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.TypeObject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="boldText">Ngày hiệu lực:<code>*</code></div>
                                @Html.TextBoxFor(model => model.DateIssued, new { @class = "form-control", type = "date" })
                                @Html.ValidationMessageFor(model => model.DateIssued, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="boldText">Hệ số cơ bản chức vụ:</div>
                                @Html.TextBoxFor(model => model.BasicPosiontConfficient, new { @class = "form-control", type = "number", step = "0.01", placeholder = "Nhập hệ số" })
                                @Html.ValidationMessageFor(model => model.BasicPosiontConfficient, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="boldText">Hệ số trách nhiệm:</div>
                                @Html.TextBoxFor(model => model.ResponsibilityCoefficient, new { @class = "form-control", type = "number", step = "0.01", placeholder = "Nhập hệ số" })
                                @Html.ValidationMessageFor(model => model.ResponsibilityCoefficient, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="boldText">Hệ số chức vụ:</div>
                                @Html.TextBoxFor(model => model.PosiontConfficient, new { @class = "form-control", type = "number", step = "0.01", placeholder = "Nhập hệ số" })
                                @Html.ValidationMessageFor(model => model.PosiontConfficient, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="boldText">Độ ưu tiên:<code>*</code></div>
                                @Html.TextBoxFor(model => model.Order, new { @class = "form-control", type = "number", step = "1", placeholder = "Nhập hệ số" })
                                @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="boldText">Mô tả:</div>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "4", placeholder = "Nhập mô tả" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="boldText">Ghi chú:</div>
                                @Html.TextAreaFor(model => model.Note, new { @class = "form-control", rows = "4", placeholder = "Nhập ghi chú" })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i> Ghi dữ liệu
                    </button>
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        // Tự động tạo ShortName từ Name
        $(document).ready(function () {
            $('#Name').on('input', function () {
                let name = $(this).val().trim();
                if (!name) {
                    $('#ShortName').val('');
                    return;
                }
                let words = name.split(/\s+/);
                let shortName = words.map(w => w[0]?.toUpperCase()).join('');
                $('#ShortName').val(shortName);
            });
        });
    </script>
}
