@model PMS.Models.TblPosition

@{
    ViewData["Title"] = "Chi tiết chức vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="card-title mb-0">Chi tiết chức vụ</h4>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                            <i class="fa fa-edit"></i> Chỉnh sửa
                        </a>
                    </div>
                </div>
                <hr />
                
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4">Tên chức vụ:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
                            
                            <dt class="col-sm-4">Tên viết tắt:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.ShortName)</dd>

                            <dt class="col-sm-4">Độ ưu tiên:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Order)</dd>
                            
                            <dt class="col-sm-4">Loại đối tượng:</dt>
                            <dd class="col-sm-8">
                                @if (Model.TypeObject == 1)
                                {
                                    <span class="badge badge-info">Nhà quản lý</span>
                                }
                                else if (Model.TypeObject == 2)
                                {
                                    <span class="badge badge-warning">Người lao động</span>
                                }
                                else
                                {
                                    <span class="badge badge-secondary">@Model.TypeObject</span>
                                }
                            </dd>
                            
                            <dt class="col-sm-4">Ngày hiệu lực:</dt>
                            <dd class="col-sm-8">@Model.DateIssued.ToString("dd/MM/yyyy")</dd>
                            
                            <dt class="col-sm-4">Trạng thái:</dt>
                            <dd class="col-sm-8">
                                @if (Model.Status == 0)
                                {
                                    <span class="badge badge-danger">Hết hiệu lực</span>
                                }
                                else
                                {
                                    <span class="badge badge-success">Hoạt động</span>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4">Hệ số cơ bản:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.BasicPosiontConfficient)</dd>
                            
                            <dt class="col-sm-4">Hệ số trách nhiệm:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.ResponsibilityCoefficient)</dd>
                            
                            <dt class="col-sm-4">Hệ số chức vụ:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.PosiontConfficient)</dd>
                            
                            <dt class="col-sm-4">Mô tả:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
                            
                            <dt class="col-sm-4">Ghi chú:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Note)</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


