@model PMS.Models.TblSalaryChanged

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblSalaryChanged</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryCalculate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryCalculate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalConfficientCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalConfficientCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalConfficientCalculator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalConfficientCalculator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
